@media screen  and (max-width:767px) {
    .navbar a {
        font-size: 18px;
        
    }
    .banner-content h1 {
        font-size: 45px;
    }
    .banner h2 {
        font-size: 30px;
        
    }
    .using-img img {
        height: 70px;
    }

    .work-img {
       width: 100%;
       height: auto;
    }
    .about-img img {
        width: 100%;
        height: auto;
    }
}