@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



/* universal */
body{
    font-family: "Poppins", sans-serif;
    background: black !important;    
    color: white !important;
}
.bg-color{
    background: #ffbd39;
}
.color{
    color: #ffbd39;
}
.headings{
    font-size: 55px;
}
/* header */
/* navbar */
.navbar a{
    font-size: 28px;
    font-weight: 600;
}

.navbar li a{
    font-size: 20px;
    color: white;
  text-decoration: none;
  &:hover{
    color: #ffbd39 !important;
    text-decoration: underline;
  }
    
}
/* banner section */
.banner{
    padding: 35px 0px;
}
.banner-content h1{
    font-size: 80px;
}
.banner h2{
    font-size: 40px;
}
/* about-img */
.about-img img{
    height: 400px;
    background: #ffbd39;
}
.about-para h2{
    font-size: 40px;
}
.about-para p{
    font-size: 20px;
    line-height: 35px;
}
/* skills-section */
.using-img img{
    height: 80px;
}
/* work-section */
.work-img{
    overflow: hidden;
}
.work-img img{
    height: 200px;
    transition: transform 0.5s ease-in-out;
}
.work-img img:hover{
    transform: scale(1.1);
}
.justify-center{
    justify-content: center;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: white !important;
    background-color:#ffbd39 !important;
}
.nav-link {
    color: white !important;
}

